body {
	color: #000000;
	background: #33bb44 url("back.gif");
	padding: 30px;
	margin: 0;
}
img.logo {
	margin-left: -30px;
	margin-top: -30px;
}
table {
	width: 100%;
}
div.menu {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	vertical-align: top;
	width: 125px;
	float: left;
	padding: 0;
	padding-bottom: 20px;
	background: url("itf-back.png");
}
* html div.menu {
	background: url("itf-back.gif");
}
div.menu a {
	display: block;
	margin-left: -20px;
	margin-right: 10px;
	padding-left: 25px;
	border: 1px solid black;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	color: #000000;
	background: #dddddd;
	text-decoration: none;
	font-weight: bold;
	margin-bottom: 5px;
}
div.menu a:hover {
	background: #999999;
	border: 2px solid black;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 24px;
}
div.content {
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	background: url("trans-bg-white.png");
	border: solid 1px black;
	margin-left: 125px;
}
* html div.content {
	background: url("trans-bg-white.gif");
}
div.footer {
	border-top: 1px solid black;
	margin: 0;
	color: #000000;
	background: #ffffff;
	text-align: center;
	margin-left: -10px;
	margin-right: -10px;
}
blockquote {
	margin-top: 0;
	margin-bottom: 0;
}
@media print {
	body {
		background: #ffffff;
		font-family: "verdana", "lucida sans unicode", sans-serif;
		font-size: 12pt;
	}
	div.menu {
		display: none;
	}
	div.content {
		margin: 0;
		border: 0;
	}
}
